header.header.temp
    .header__container.temp 
        .header__row.temp
            .header__logo.temp 
                a(href="#") 
                    img(src="image/header__logo.svg", alt="Logo")
            
            .header__navigation.temp 
                ul 
                    li 
                        a(href="#") About Us 
                    li 
                        a(href="#") Services
                    li 
                        a(href="#") Work
                    li 
                        a(href="#") News
                    li 
                        a(href="#") Contacts

            .header__addressBox.temp
                .header__address.temp
                    .header__addressImg
                        img(src="image/header__addressImg1.svg", alt="Phone")
                    .header__addressText
                        p Call us
                        a(href="tel:4055550128") (405) 555-0128
                    
                .header__address.temp
                    .header__addressImg
                        img(src="image/header__addressImg2.svg", alt="Chat")
                    .header__addressText
                        p Talk to us
                        a(href="mailto:hello@createx.com") hello@createx.com