meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="description", content="If you are looking for a full-service construction company, look to Createx Construction Bureau.")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
title CreateX Construction - Our mission is to set the highest standards for construction sphere.
link(rel="stylesheet", href="css/main.min.css")